/* CATALOGUE */
.catalog-products {
    background-color: var(--sec-color);
    margin-top: var(--margin-base);
  }
  
  .catalog-hero-titlebox {
    max-width: 90vw;
    margin: auto;
    background-image: url('../assets/catalog.png');
    height: 30vh;
    background-size: cover;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .catalog-title {
    color: var(--quat-color);
    font-size: var(--font-size-xlarge);
    text-shadow: var(--text-shadow);
  }
  
  #catalog-category,
  .catalog-showall {
    margin: calc(var(--margin-base) * 3);
    padding: var(--padding-base);
    border: none;
    background-color: var(--main-color);
    color: var(--quat-color);
    font-weight: bold;
    font-size: var(--font-size-small);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border-radius: var(--border-radius);
  }
  
  .catalog-showall:active {
    box-shadow: inset 1px 1px 5px black;
  }
  
  .catalog-product-cardsbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .catalog-product-card,
  .catalog-product-card--hidden {
    width: 40%;
    height: 15vh;
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    margin: calc(var(--margin-base) * 2);
    position: relative;
    border-radius: var(--border-radius)
  }
  
  .card-figcaption a {
    position: absolute;
    bottom: 0;
    color: var(--quat-color);
    background: var(--color-dark);
    width: 100%;
    text-align: center;
    font-size: var(--font-size-small);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }
  
  .card-figcaption a:visited {
    color: var(--quat-color);
  }
  
  .card-figcaption a:hover {
    color: var(--color-light);
  }
  
  .catalog-product-card--hidden {
    display: none;
  }
  
  .card-displayed {
    display: block;
  }
  
  .catalog-product-card-image {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: var(--border-radius);
    aspect-ratio: auto;
  }

/* Responsive 768*/

@media (min-width: 768px) {
    .catalog-product-cardsbox {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
      }
    
      .catalog-product-card,
      .catalog-product-card--hidden {
        justify-self: center;
        width: 80%;
        height: 15vh;
      }
}

/* Responsive 1024*/

@media (min-width: 1024px) {
    .catalog-hero-titlebox {
        background-position: center;
        margin-bottom: 7vh;
      }
    
      .catalog-product-card,
      .catalog-product-card--hidden {
        height: 30vh;
      }

      .catalog-product-cardsbox {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
      }
    
}