<%- include('partials/header', {style: "error"}) %>

<div class="error-container">
<img class="error-image" src="/assets/404.png" alt="">
<h1 class="error-text">Desolé le café que vous cherchez n'est pas encore moulu :(</h1>
</div>